.projects {
    margin-bottom: 80px;

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        cursor: pointer;

        @media screen and (max-width: 660px) {
            &{
                grid-template-columns: 1fr;
            }
        }
    }

    &__card {
        position: relative;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        transition: .3s linear;
        box-shadow: 0 0 10px #00ffee;
        transition: .3s ease-in-out;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 25px #00ffee;
        }


        &:hover > &-content--info {
            transform: translateY(0px);
        }

        &-content--images {
            width: 50%;
            height: 100%;
            
            > img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        &-content--info {
            padding: 10px;
            position: absolute;
            left: 0;
            bottom: 0px;
            background-color: #222222ea;
            width: 100%;
            min-height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translateY(400px);
            transition: .2s ease-in-out;

            > p {
                text-align: justify;
                margin-bottom: 12px;
                font-weight: 400;
                font-size: 14px;
            }

            > a {
                position: relative;
                width: max-content;
                padding: 8px 22px;
                border: 1px solid #00ffee;
                border-radius: 10px;
                overflow: hidden;
                

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    background-color: #00ffee;
                    transition: .3s linear;  
                }
                &:hover::after {
                    width: 100%;
                }
                
                > span {
                    position: relative;
                    z-index: 2;
                    transition: .3s linear;  
                }
                &:hover > span {
                    color: #000000; 
                }
            }
        }
    }
}