.about {
    transition: .2s ease-in-out;

    &__box {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: start;

        @media screen and (max-width: 880px) {
           flex-direction: column;
         }

        &-images {
            width: 80%;
            position: relative;
            cursor: pointer;

            @media screen and (max-width: 880px) {
                width: 100%;
                margin: auto;
             }


            > img {
                position: relative;
                width: 100%;
                min-height: 450px;
                object-fit: cover;
                box-shadow:  0 0 15px #00ffee;
                border-radius: 10%;
            }
        }

        &-info {
            max-width: 60%;

            @media screen and (max-width: 880px) {
                max-width: 100%;
                margin-bottom: 80px;
                order: 0;
             }

            &--title {
                margin-bottom: 20px;
                font-size: 28px;

                @media screen and (max-width: 480px) {
                    font-size: 18px;
                }
            }

            &--deck {
                line-height: 1.4rem;
                font-size: 16px;
                font-weight: 400;

                @media screen and (max-width: 480px) {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }
}

